agm-map {
    width: 100vw;
    height: 100vh;
}

.tools {
    z-index: 9999;
    position: absolute;
    top: 50px;
    left: 50px;
    background: #fff;
    padding: 10px
}

button {
    display: block;
    margin-top: 10px
}

@media (max-width: 960px) {
    .tools {
        position: fixed;
        top: 0;
        background: #fff;
        padding: 10px;
        left: 0;
        height: 100vh;
        width: 20vw;
        overflow-y: scroll;
    }
}